
@{
    ViewBag.Title = "Index";
}

<head>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="l-wrap">
        <div class="two-col-grid">
            <div class="grid-item" style="width: 20%;">
                <img src="~/Content/placeholder.png" />
                <br />
                <span id="userText">Name: Jooooeee</span>
                <br />
                <span id="userText">Score: 5</span>
            </div>
            <div class="grid-item" style="width: 80%;">
                <form method="get" action="Forums/@ViewBag.Id/Filter" class="searchForm">
                    <input type="search" placeholder="Search"/>
                    <input type="button" class="button" value="Standard Search" />
                    <input type="button" class="button" value="Advanced Search" />
                </form>
            </div>
        </div>
        <div class="one-col-grid">
            <div class="grid-item">
                <div class="tableFormatGrid">
                    <div class="score">
                        10
                        <br />
                        <span id="subscript">Score</span>
                    </div>
                    <div class="views">
                        50
                        <br />
                        <span id="subscript">Views</span>
                    </div>
                    <div class="question">
                        QHeader
                        <br />
                        <span id="subscript">Question - TIMESTAMP</span>
                    </div>
                    <div class="accepted">
                        YES > GLYPHICON
                        <br />
                        <span id="subscript">Accepted Answer</span>
                    </div>
                    <div class="lastPost">
                        Piet Pompies
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
